body {
  font-family: 'Poppins', sans-serif;
}

a:hover {
  text-decoration: none;
}

#large-screen-header {
  padding: 5px 0;
  z-index: 10;
  position: fixed;
  width: 100%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  border-bottom: solid 1px transparent;
}
#large-screen-header .logo img {
  max-width: 100%;
}
#large-screen-header .logo img:last-child {
  display: none;
}
#large-screen-header ul.menu {
  padding: 0;
  margin: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
}
#large-screen-header ul.menu li {
  margin: 0 10px;
}
#large-screen-header ul.menu li a {
  color: white;
  font-weight: 500;
  font-size: 14px;
}
#large-screen-header .lang {
  position: relative;
  display: inline-block;
}
#large-screen-header .lang svg {
  width: 10px;
  height: 7px;
  pointer-events: none;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  margin-left: 4px;
}
#large-screen-header .lang svg .dropdown__icon {
  fill: none;
  stroke: #c21416;
  stroke-width: 1.5px;
  fill-rule: evenodd;
}
#large-screen-header .lang svg.active {
  -webkit-transform: rotate(180deg) translateY(2px);
          transform: rotate(180deg) translateY(2px);
}
#large-screen-header .lang a.active {
  opacity: 0.8;
}
#large-screen-header .lang a {
  color: white;
  font-weight: 500;
  font-size: 14px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
#large-screen-header .lang ul {
  display: none;
  text-align: left;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: auto;
  margin-top: 17px;
  padding: 18px 24px;
  background: #fff;
  border: 1px solid #d6e0ee;
  border-radius: 3px;
  -webkit-box-shadow: 0px 10px 20px -5px rgba(36, 36, 59, 0.15);
          box-shadow: 0px 10px 20px -5px rgba(36, 36, 59, 0.15);
  left: -72px;
  z-index: 5;
}
#large-screen-header .lang ul a {
  font-weight: 600;
  color: #6c7c93 !important;
  display: block;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
#large-screen-header .lang ul a:hover {
  color: #24243b !important;
}
#large-screen-header .lang ul::after, #large-screen-header .lang ul::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 30px;
  border: 9px solid transparent;
  border-bottom: 10px solid #d6e0ee;
  left: auto;
  right: 16px;
}
#large-screen-header .lang ul::after {
  border-bottom-color: #fff;
  top: -18px;
}
#large-screen-header .get-offer a {
  color: #0a0c0e;
  background-color: #FFF;
  font-size: 14px;
  border-radius: 5px;
  padding: 9px 12px;
  letter-spacing: 1px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  font-weight: 500;
}
#large-screen-header .get-offer a:hover {
  background-color: #42464e;
  color: white;
}

#large-screen-header.active {
  background-color: white;
  border-color: #d6e0ee;
}
#large-screen-header.active .logo img {
  display: none;
}
#large-screen-header.active .logo img:last-child {
  display: block;
}
#large-screen-header.active ul.menu li a {
  color: #24243B;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
#large-screen-header.active ul.menu li a:hover {
  opacity: .7;
}
#large-screen-header.active .lang a {
  color: #24243B;
}
#large-screen-header.active .get-offer a {
  background-color: #f8f8f8;
}

#large-screen-header .get-offer a:hover {
  background-color: #42464e;
  color: white;
}

#slider {
  position: relative;
  height: 900px;
  overflow: hidden;
}
#slider img.circle {
  margin-top: -290px;
  margin-left: -240px;
}
#slider #scene {
  position: absolute;
  top: 0;
  overflow: hidden;
}
#slider img.main-image {
  z-index: -1;
  width: auto;
}
#slider #scene img {
  width: auto;
}
#slider .item {
  overflow: hidden;
}
#slider .content {
  position: absolute;
  top: 37%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
#slider .content p {
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 300;
  margin: 0;
  color: white;
}
#slider .content h1 {
  color: white;
  font-size: 48px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 40px;
}
#slider .content a {
  font-size: 16px;
  font-weight: 500;
  color: white;
  border: 2px solid white;
  border-radius: 3px;
  padding: 9px 29px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
#slider .content a:hover {
  background-color: white;
  color: #42464e;
}

#about {
  padding-top: 200px;
  padding-bottom: 200px;
}
#about .left .image-wrapper {
  border-radius: 100%;
  position: relative;
  width: 300px;
  height: 300px;
}
#about .left .image-wrapper::after, #about .left .image-wrapper::before {
  position: absolute;
  content: ' ';
}
#about .left .image-wrapper::before {
  left: -60px;
  right: -60px;
  top: -60px;
  bottom: -60px;
  border-radius: 100%;
  border: 1px solid #f0f0f0;
}
#about .left .image-wrapper::after {
  left: -140px;
  right: -140px;
  top: -140px;
  bottom: -140px;
  border-radius: 100%;
  border: 1px solid #f5f5f5;
}
#about .left img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
#about .right {
  margin-left: 60px;
}
#about .right h1 {
  color: #42464e;
  font-size: 36px;
  font-weight: 300;
  margin: 0;
  text-transform: uppercase;
}
#about .right h1 strong {
  font-weight: 900;
}
#about .right .signature {
  margin-top: 50px;
}
#about .right .info {
  font-weight: 500;
  margin-left: 20px;
}
#about .right .info .position {
  margin: 0;
  font-size: 13px;
  text-align: center;
  color: #7f7f7f;
}
#about .right .info .name {
  color: #42464e;
  font-size: 15px;
  margin-bottom: 7px;
  text-align: center;
}

#services {
  padding: 60px 0;
  background-color: #f6f6f6;
}
#services ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#services ul li {
  margin: 0 5px;
}
#services ul li a {
  padding-top: 40px;
  display: block;
  width: 140px;
  height: 140px;
  color: black;
  background-color: white;
  -webkit-box-shadow: 0 2px 7px 0 rgba(27, 27, 27, 0.06);
          box-shadow: 0 2px 7px 0 rgba(27, 27, 27, 0.06);
  text-align: center;
  border-radius: 8px;
  -webkit-transition: -webkit-transform .3s ease,-webkit-box-shadow .3s ease;
  transition: -webkit-transform .3s ease,-webkit-box-shadow .3s ease;
  transition: transform .3s ease,box-shadow .3s ease;
  transition: transform .3s ease,box-shadow .3s ease,-webkit-transform .3s ease,-webkit-box-shadow .3s ease;
}
#services ul li a:hover {
  -webkit-box-shadow: 0 5px 19px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 19px 0 rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
#services ul li a i {
  display: block;
  font-size: 25px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.3);
}
#services ul li.first-child a {
  position: relative;
  background-color: #44c373;
  color: white;
}
#services ul li.first-child a i {
  color: white;
}
#services ul li.first-child a:hover {
  -webkit-box-shadow: 0 2px 7px 0 rgba(27, 27, 27, 0.06);
          box-shadow: 0 2px 7px 0 rgba(27, 27, 27, 0.06);
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
#services ul li.first-child a::before {
  right: 0px;
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  background: #44c373;
  -webkit-transform: rotate(45deg) translateY(-50%);
          transform: rotate(45deg) translateY(-50%);
  top: 50%;
}

#gallery {
  padding: 60px 0;
}
#gallery ul {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  width: 100%;
}
#gallery ul li {
  position: relative;
  overflow: hidden;
}
#gallery ul li img {
  width: 228px;
  height: 228px;
  -o-object-fit: cover;
     object-fit: cover;
}
#gallery ul li a {
  color: black;
}
#gallery ul li .overlay {
  padding: 30px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.6) 0px);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
#gallery ul li .overlay p {
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 11px 33px;
  cursor: pointer;
  text-align: center;
  color: white;
  border-radius: 24px;
  background: #4ba82e;
  -webkit-box-shadow: rgba(75, 168, 46, 0.3) 0px 4px 8px;
          box-shadow: rgba(75, 168, 46, 0.3) 0px 4px 8px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
#gallery ul li .overlay p:hover {
  border-color: #34861c;
  background: #34861c;
}
#gallery ul li:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#calltoaction {
  position: relative;
  z-index: 1;
  padding: 100px 85px;
  background-image: url("../img/calltoaction.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
#calltoaction::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.2);
}
#calltoaction .form-wrapper {
  max-width: 640px;
  padding: 60px;
  background: #fff;
  border-radius: 13px;
}
#calltoaction .form-wrapper h1 {
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
}
#calltoaction .form-wrapper p {
  margin-top: 30px;
  margin-bottom: 30px;
}
#calltoaction .form-wrapper h6 {
  margin-bottom: 0;
  color: #6c757d !important;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 300;
}
#calltoaction .form-wrapper form input[type="text"], #calltoaction .form-wrapper form input[type="submit"] {
  display: block;
  width: 100%;
  padding: 16px 32px;
  font-size: 14px;
  color: #495057;
  background-color: #f2f2f2;
  background-clip: padding-box;
  border: none;
  outline: none;
  margin-top: 15px;
}
#calltoaction .form-wrapper form input[type="submit"] {
  background: #ab1237;
  font-weight: 900;
  margin-top: 50px;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
#calltoaction .form-wrapper form input[type="submit"]:hover {
  background: #971833;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
